// UIkit Core
@import "../../node_modules/uikit/src/less/uikit.theme.less";

// Highlight.js
@import "highlight.less";

.hook-base-body() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

//
// Container
//

@container-max-width:                           1380px;
@container-small-max-width:                     650px;


//
// Text
// 

.tm-upper {
    text-transform: uppercase;
}

.tm-lower {
    text-transform: lowercase;
}